.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 24px 156px;
    margin: 0;
}

.gallery-item {
    max-width: calc((100% - 2 * 24px) / 3);
    list-style: none;
    transition: transform 0.2s ease;

}

.gallery-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.gallery-image:hover {
    transform: scale(1.04);
    border:2px dashed #bd34fe;
    
}